:root {
  /* Fonts */
  --header-font: euro; }

body {
  background-color: #273234;
  margin: 0; }

footer {
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'euro';
  src: url("../assets/fonts/eurof55.ttf"); }

header {
  background-image: url("../assets/images/snowboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  background-position: center;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px; }

h2 {
  margin: 0;
  color: #ffffff;
  font-family: var(--header-font);
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase; }

nav {
  height: 100px;
  width: 100%;
  background-color: #252222;
  display: flex;
  justify-content: space-around; }
  nav .nav-logo {
    margin: 0;
    color: #ffffff;
    font-family: var(--header-font);
    font-size: 90px;
    font-weight: 400;
    text-transform: uppercase; }
  nav .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    nav .nav-links a {
      margin: 0;
      color: #ffffff;
      font-family: var(--header-font);
      font-size: 18px;
      font-weight: 400; }
      nav .nav-links a:hover {
        color: #65ba99; }
  nav .link, nav .nav-social {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  nav .social-icon {
    margin-left: 14px; }

.container {
  background-color: #65ba99;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 57px 150px 107px 150px; }

h4 {
  color: #ffffff;
  font-family: var(--header-font);
  font-size: 48px;
  font-weight: 400; }

.projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.5em;
  padding: 0.3em;
  perspective: 800px; }

.project:hover {
  transform: rotateY(180deg); }

.project {
  width: 110px;
  height: 110px;
  margin: 0.5em;
  background-color: lightyellow;
  transition: transform 2s;
  transform-style: preserve-3d;
  border-radius: 15px; }

.project img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px; }

.proj-desc {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: black;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px; }

.proj-desc > div {
  margin: auto;
  text-align: center; }

a {
  text-decoration: none; }
