body {
    background-color: lightgrey;
}

nav {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  opacity: 0.7;
  padding: 0.5em;
  margin: auto;
}

nav a {
  color: white;
  margin: 0.2em;
  text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.images {
    width: 80%;
    padding: 20px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
}
img {
    max-width: 200px;
    margin: 10px 30px;
}

.clickedImg {
    border: solid black 2px;
}
.imgDiv {
    display: inline-block;
}


/*.firstDescription {
    display: none;
}
.secondDescription {
    display: none;
}
.secondDescription {
    display: none;
}*/