body {
    background-color: lightgray;
    text-align: center;
}

.secret-content {
    display: none;
    padding: 2em;
    margin: auto;
}

.log-out, .log-in {
    margin: 1em;
    padding: 1em;
}
.log-out {
    display: none;
    
}

.log-in {
    display: none;
}

a, a:visited {
    text-decoration: none;
    color: #129292;
}

